<div class="home_page">


<h1>Contacts</h1>
</body>
</html>

</div>
<div class="thick">
<p>Edgaras: https://github.com/Edgaras44</p>
<p>Mantas: https://github.com/Mantas83</p>
<p>Džiugas: https://github.com/s034745</p>
</div>
