// Place all the styles related to the Bikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.main_buttons{
    font-size: 30px;
    word-spacing: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-align: center;
}



.home_page{
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;

}

.normal{
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
}

.thick{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-weight: bold;
    text-align: center;
}